<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/views/index.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/javascripts/product-menu.js"></script>

  </head>
  <body>
    <header>
      <div class="content-width content-header ps-0 pe-0">
        <a href="/">
          <div class="brand-header"></div>
        </a>
        <form class="input-group-header" method="get">
          <div class="prefix-input-header">
            <select name="product-group">
              <option value="0">ทุกหมวดหมู่</option>
              <option value="1">Proccessor</option>
              <option value="2">Graphics Card</option>
              <option value="3">Ram</option>
              <option value="4">Storage</option>
              <option value="5">Power Supply</option>
            </select>
          </div>
          <div class="center-input-header">
            <input type="text" name="search-keyword" placeholder="Quick Search">
          </div>
          <div class="postfix-input-header">
            <button type="submit"><img src="/images/icon/search.png" alt="" style="width: 100%; height: 100%;"></button>
          </div>
        </form>
        <div class="go-to-profile">
          <a href="#" class="tag-a a-btn sign-in-btn">เข้าสู่ระบบ</a>
          <div class="vertical-line"></div>
          <a href="#" class="tag-a a-btn sign-up-btn">สมัครสมาชิก</a>
        </div>
      </div>
    </header>
    <nav class="nav">
      <div class="content-width nav-content">
        <div class="nav-prefix">
          <a href="/" class="btn-nav space-item-start tag-a"><img src="/images/icon/home.png" alt="">หน้าหลัก</a>
          <a href="" class="btn-nav space-item-center tag-a"><img src="/images/icon/product.png" alt="">สินค้า</a>
        </div>
        <div class="nav-postfix">
          <a href="" class="btn-nav space-item-center tag-a"><img src="/images/icon/order-list.png" alt="">รายการสั่งซื้อ</a>
          <a href="" class="btn-nav space-item-center tag-a"><img src="/images/icon/favorite-fill.png" alt="">ถูกใจ</a>
          <a href="" class="btn-nav space-item-end tag-a"><img src="/images/icon/cart.png" alt="">ตะกร้า</a>  
        </div>
      </div>
    </nav>
    <div class="body">
      <div class="banner">

      </div>
      <div class="content-width content">
        <div class="product-menu-container">
          <p class="title-product-menu">รายการสินค้า</p>
          <ul class="product-group">
            <li class="product-group-item">
              <div class="border-front"></div>
              <div class="product-group-item-content">
                <p>จอโน๊ตบุ๊ค</p>
                <ul>
                  <li><a href="">Acer</a></li>
                  <li><a href="">Lenovo</a></li>
                  <li><a href="">Dell</a></li>
                  <li><a href="">Asus</a></li>
                  <li><a href="">HP</a></li>
                  <li><a href="">Fujisu</a></li>
                </ul>
              </div>
            </li>
            <li class="product-group-item">
              <div class="border-front"></div>
              <div class="product-group-item-content">
                <p>แบตเตอรี่</p>
                <ul>
                  <li><a href="">Acer</a></li>
                  <li><a href="">Lenovo</a></li>
                  <li><a href="">Dell</a></li>
                  <li><a href="">Asus</a></li>
                  <li><a href="">HP</a></li>
                  <li><a href="">Fujisu</a></li>
                </ul>
              </div>
            </li>
            <li class="product-group-item">
              <div class="border-front"></div>
              <div class="product-group-item-content">
                <p>คีย์บอร์ด</p>
                <ul>
                  <li><a href="">Acer</a></li>
                  <li><a href="">Lenovo</a></li>
                  <li><a href="">Dell</a></li>
                  <li><a href="">Asus</a></li>
                  <li><a href="">HP</a></li>
                  <li><a href="">Fujisu</a></li>
                </ul>
              </div>
            </li>
            <li class="product-group-item">
              <div class="border-front"></div>
              <div class="product-group-item-content">
                <p>ลำโพง</p>
                <ul>
                  <li><a href="">Acer</a></li>
                  <li><a href="">Lenovo</a></li>
                  <li><a href="">Dell</a></li>
                  <li><a href="">Asus</a></li>
                  <li><a href="">HP</a></li>
                  <li><a href="">Fujisu</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div class="product-and-pagination">
          <div class="product-item-container">
            <div class="product-item box-shadow">
              <div class="product-img">
                <img class="img" src="/images/no-upload-image.png" alt="">
              </div>
              <div class="product-details">
                <div class="star-container">
                  <div class="star">
                    <img src="/images/icon/star.png" alt="" class="img">
                    <img src="/images/icon/star.png" alt="" class="img">
                    <img src="/images/icon/star.png" alt="" class="img">
                    <img src="/images/icon/unstar.png" alt="" class="img">
                    <img src="/images/icon/unstar.png" alt="" class="img">
                  </div>
                  <p class="number-of-review">17 Review</p>
                </div>
                <a href="" class="to-full-details"><h2 class="title">จอโน๊ตบุ๊ค สำหรับใส่ทุกยี่ห้อ LED ขนาด 14 นิ้วแบบสลิม 30 พิน 14.0 slim</h2></a>
                <p class="price"><span class="full-price">2,200 บาท</span>1,990 บาท</p>
              </div>
              <div class="btn-container">
                <a href="" class="add-to-cart">ใส่ตะกร้า</a>
                <a href="" class="favorite" onclick="alert('Hello'); return false"><img class="img" src="/images/icon/favorite.png" alt=""></a>
              </div>
            </div>
            <div class="product-item box-shadow">
              <div class="product-img">
                <img class="img" src="/images/no-upload-image.png" alt="">
              </div>
              <div class="product-details">
                <div class="star-container">
                  <div class="star">
                    <img src="/images/icon/star.png" alt="" class="img">
                    <img src="/images/icon/star.png" alt="" class="img">
                    <img src="/images/icon/star.png" alt="" class="img">
                    <img src="/images/icon/unstar.png" alt="" class="img">
                    <img src="/images/icon/unstar.png" alt="" class="img">
                  </div>
                  <p class="number-of-review">17 Review</p>
                </div>
                <a href="" class="to-full-details"><h2 class="title">จอโน๊ตบุ๊ค สำหรับใส่ทุกยี่ห้อ LED ขนาด 14 นิ้วแบบสลิม 30 พิน 14.0 slim</h2></a>
                <p class="price"><span class="full-price">2,200 บาท</span>1,990 บาท</p>
              </div>
              <div class="btn-container">
                <a href="" class="add-to-cart">ใส่ตะกร้า</a>
                <a href="" class="favorite"><img class="img" src="/images/icon/favorite-fill.png" alt=""></a>
              </div>
            </div>
            <div class="product-item box-shadow">
              <div class="product-img">
                <img class="img" src="/images/no-upload-image.png" alt="">
              </div>
              <div class="product-details">
                <div class="star-container">
                  <div class="star">
                    <img src="/images/icon/star.png" alt="" class="img">
                    <img src="/images/icon/star.png" alt="" class="img">
                    <img src="/images/icon/star.png" alt="" class="img">
                    <img src="/images/icon/unstar.png" alt="" class="img">
                    <img src="/images/icon/unstar.png" alt="" class="img">
                  </div>
                  <p class="number-of-review">17 Review</p>
                </div>
                <a href="" class="to-full-details"><h2 class="title">จอโน๊ตบุ๊ค สำหรับใส่ทุกยี่ห้อ LED ขนาด 14 นิ้วแบบสลิม 30 พิน 14.0 slim</h2></a>
                <p class="price"><span class="full-price">2,200 บาท</span>1,990 บาท</p>
              </div>
              <div class="btn-container">
                <a href="" class="add-to-cart">ใส่ตะกร้า</a>
                <a href="" class="favorite"><img class="img" src="/images/icon/favorite.png" alt=""></a>
              </div>
            </div>
            <div class="product-item box-shadow">
              <div class="product-img">
                <img class="img" src="/images/no-upload-image.png" alt="">
              </div>
              <div class="product-details">
                <div class="star-container">
                  <div class="star">
                    <img src="/images/icon/star.png" alt="" class="img">
                    <img src="/images/icon/star.png" alt="" class="img">
                    <img src="/images/icon/star.png" alt="" class="img">
                    <img src="/images/icon/unstar.png" alt="" class="img">
                    <img src="/images/icon/unstar.png" alt="" class="img">
                  </div>
                  <p class="number-of-review">17 Review</p>
                </div>
                <a href="" class="to-full-details"><h2 class="title">จอโน๊ตบุ๊ค สำหรับใส่ทุกยี่ห้อ LED ขนาด 14 นิ้วแบบสลิม 30 พิน 14.0 slim</h2></a>
                <p class="price"><span class="full-price">2,200 บาท</span>1,990 บาท</p>
              </div>
              <div class="btn-container">
                <a href="" class="add-to-cart">ใส่ตะกร้า</a>
                <a href="" class="favorite"><img class="img" src="/images/icon/favorite.png" alt=""></a>
              </div>
            </div>
            <div class="product-item box-shadow">
              <div class="product-img">
                <img class="img" src="/images/no-upload-image.png" alt="">
              </div>
              <div class="product-details">
                <div class="star-container">
                  <div class="star">
                    <img src="/images/icon/star.png" alt="" class="img">
                    <img src="/images/icon/star.png" alt="" class="img">
                    <img src="/images/icon/star.png" alt="" class="img">
                    <img src="/images/icon/unstar.png" alt="" class="img">
                    <img src="/images/icon/unstar.png" alt="" class="img">
                  </div>
                  <p class="number-of-review">17 Review</p>
                </div>
                <a href="" class="to-full-details"><h2 class="title">จอโน๊ตบุ๊ค สำหรับใส่ทุกยี่ห้อ LED ขนาด 14 นิ้วแบบสลิม 30 พิน 14.0 slim</h2></a>
                <p class="price"><span class="full-price">2,200 บาท</span>1,990 บาท</p>
              </div>
              <div class="btn-container">
                <a href="" class="add-to-cart">ใส่ตะกร้า</a>
                <a href="" class="favorite"><img class="img" src="/images/icon/favorite-fill.png" alt=""></a>
              </div>
            </div>
            <div class="product-item box-shadow">
              <div class="product-img">
                <img class="img" src="/images/no-upload-image.png" alt="">
              </div>
              <div class="product-details">
                <div class="star-container">
                  <div class="star">
                    <img src="/images/icon/star.png" alt="" class="img">
                    <img src="/images/icon/star.png" alt="" class="img">
                    <img src="/images/icon/star.png" alt="" class="img">
                    <img src="/images/icon/unstar.png" alt="" class="img">
                    <img src="/images/icon/unstar.png" alt="" class="img">
                  </div>
                  <p class="number-of-review">17 Review</p>
                </div>
                <a href="" class="to-full-details"><h2 class="title">จอโน๊ตบุ๊ค สำหรับใส่ทุกยี่ห้อ LED ขนาด 14 นิ้วแบบสลิม 30 พิน 14.0 slim</h2></a>
                <p class="price"><span class="full-price">2,200 บาท</span>1,990 บาท</p>
              </div>
              <div class="btn-container">
                <a href="" class="add-to-cart">ใส่ตะกร้า</a>
                <a href="" class="favorite"><img class="img" src="/images/icon/favorite.png" alt=""></a>
              </div>
            </div>
            <div class="product-item box-shadow">
              <div class="product-img">
                <img class="img" src="/images/no-upload-image.png" alt="">
              </div>
              <div class="product-details">
                <div class="star-container">
                  <div class="star">
                    <img src="/images/icon/star.png" alt="" class="img">
                    <img src="/images/icon/star.png" alt="" class="img">
                    <img src="/images/icon/star.png" alt="" class="img">
                    <img src="/images/icon/unstar.png" alt="" class="img">
                    <img src="/images/icon/unstar.png" alt="" class="img">
                  </div>
                  <p class="number-of-review">17 Review</p>
                </div>
                <a href="" class="to-full-details"><h2 class="title">จอโน๊ตบุ๊ค สำหรับใส่ทุกยี่ห้อ LED ขนาด 14 นิ้วแบบสลิม 30 พิน 14.0 slim</h2></a>
                <p class="price"><span class="full-price">2,200 บาท</span>1,990 บาท</p>
              </div>
              <div class="btn-container">
                <a href="" class="add-to-cart">ใส่ตะกร้า</a>
                <a href="" class="favorite"><img class="img" src="/images/icon/favorite.png" alt=""></a>
              </div>
            </div>
            <div class="product-item box-shadow">
              <div class="product-img">
                <img class="img" src="/images/no-upload-image.png" alt="">
              </div>
              <div class="product-details">
                <div class="star-container">
                  <div class="star">
                    <img src="/images/icon/star.png" alt="" class="img">
                    <img src="/images/icon/star.png" alt="" class="img">
                    <img src="/images/icon/star.png" alt="" class="img">
                    <img src="/images/icon/unstar.png" alt="" class="img">
                    <img src="/images/icon/unstar.png" alt="" class="img">
                  </div>
                  <p class="number-of-review">17 Review</p>
                </div>
                <a href="" class="to-full-details"><h2 class="title">จอโน๊ตบุ๊ค สำหรับใส่ทุกยี่ห้อ LED ขนาด 14 นิ้วแบบสลิม 30 พิน 14.0 slim</h2></a>
                <p class="price"><span class="full-price">2,200 บาท</span>1,990 บาท</p>
              </div>
              <div class="btn-container">
                <a href="" class="add-to-cart">ใส่ตะกร้า</a>
                <a href="" class="favorite"><img class="img" src="/images/icon/favorite-fill.png" alt=""></a>
              </div>
            </div>
          </div>
          <ul class="pagination">
            <li class="page-item"><a href="">ก่อนหน้า</a></li>
            <li class="page-item page-item-current"><a class="link"href="">1</a></li>
            <li class="page-item"><a class="link"href="">2</a></li>
            <li class="page-item"><a class="link"href="">3</a></li>
            <li class="page-item"><a class="link"href="">4</a></li>
            <li class="page-item"><a class="link"href="">ถัดไป</a></li>
          </ul>
        </div>
      </div>
    </div>
    <footer>
      <div class="content-width footer-content">
        <div class="footer-col">
          <div class="logo"><p>Logo</p></div>
          <p class="about-com">อะไหล่โน๊ตบุ๊ค จอโน๊ตบุ๊ค จอออลอินวัน แบตเตอรี่โน๊ตบุ๊ค สายชาร์จโน๊ตบุ๊ค พัดลมโน๊ตบุ๊ค สายแพรจอ สินค้าดี มีคุณภาพและราคาเป็นมิตร</p>
          <p class="reserved">Copyright © 2023 All rights reserved</p>
        </div>
        <div class="footer-col">
          <div class="header">
            <span class="line"></span>
            <p class="text">ติดต่อเรา</p>
          </div>
          <ul class="contact-list">
            <li class="item">Facebook : YALANETCOM</li>
            <li class="item">Line : @YALANETCOM</li>
            <li class="item">Phone : 0826537095</li>
          </ul>
          <ul class="icon-contact-list">
            <li class="item"><a href=""><img src="/images/icon/facebook.png" alt="" class="img"></a></li>
            <li class="item"><a href=""><img src="/images/icon/line.png" alt="" class="img"></a></li>
          </ul>
        </div>
        <div class="footer-col">
          <div class="header">
            <span class="line"></span>
            <p class="text">สินค้าและบริการอื่นๆ</p>
          </div>
          <div class="list">
            <a href="/" class="item">จอโน๊ตบุ๊ค</a>
            <a href="/" class="item">คีย์บอร์ดโน๊ตบุ๊ค</a>
            <a href="/" class="item">ลำโพงโน๊ตบุ๊ค</a>
            <a href="/" class="item">ลำโพงโน๊ตบุ๊ค</a>
            <a href="/" class="item">ลำโพงโน๊ตบุ๊ค</a>
            <a href="/" class="item">ลำโพงโน๊ตบุ๊ค</a>
            <a href="/" class="item">ลำโพงโน๊ตบุ๊ค</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
