@import url(values.css);

:root {
    /* size */
    --header-hieght: 60px;

    /* padding */
    --header-padding: 10px;
}

header {
    width: 100%;
    background-color: var(--color-primary);
    height: var(--header-hieght);
    display: flex;
    justify-content: center;
}

.content-header {
    padding: var(--header-padding) 0px;
    display: flex;
    flex-wrap: nowrap;
}

.brand-header {
    width: 150px;
    height: 100%;
    background-color: white;
    opacity: 0.41;
    border-radius: var(--br-5);
}

.input-group-header {
    flex-grow: 1;
    display: flex;
    padding: 0px var(--padding-between-content);
    justify-content: center;
}

.prefix-input-header select {
    height: 100%;
    width: 120px;
    border: none;
    border-radius: var(--br-5) 0 0 var(--br-5);
    padding: var(--padding-between-content);
    background-color: var(--color-secondary);
    overflow: hidden;
    outline: none;
}

.center-input-header {
    flex-grow: 1;
}

.center-input-header input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding-left: var(--padding-between-content);
}

.postfix-input-header button {
    height: 100%;
    border: none;
    outline: none;
    border-radius: 0px var(--br-5) var(--br-5) 0px;
    padding: var(--padding-between-content);
    background-color: var(--color-secondary);
}

.postfix-input-header button:hover {
    background-color: var(--color-secondary-hover);
}

.go-to-profile {
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: center;
    max-width: 200px;
    height: 100%;
}

.a-btn {
    padding: var(--padding-between-content);
    border-radius: var(--br-5);
    transition: 0.3s;
}

.a-btn:hover {
    color: black;
    background-color: var(--color-secondary-hover);
}

.sign-in-btn {
    color: white;
    background-color: none;
}

.sign-up-btn {
    color: black;
    background-color: var(--color-secondary);
    margin-left: var(--padding-between-content);
}

.vertical-line {
    border-left: 2px solid white;
    margin-left: var(--padding-between-content);
    border-radius: 2px;
    height: 70%;
}