@import url(values.css);

.product-menu-container {
    height: 100%;
    background-color: white;
    border-radius: var(--br-8);
    flex-grow: 1;
    margin-right: var(--padding-between-content);
    padding: 15px;
}

.title-product-menu {
    font-size: 18px;
    font-weight: bold;
}


.product-list-container {
    height: 100%;
    background-color: aqua;
    flex-grow: 11;
}

.product-group {
    padding-top: var(--padding-between-content);
}

.product-group .border-front {
    margin: 2px 0px;
    margin-right: 10px;
    border-radius: 2px;
    width: 3px;
    height: auto;
    background-color: black;
}

.product-group .product-item {
    display: flex;
    padding: 10px;
}

.product-group .product-item .product-item-content {
    width: 100%;
}

.product-group .product-item .product-item-content p {
    cursor: pointer;
}

.product-group .product-item .product-item-content ul {
    display: none;
    margin-top: 10px;
}

.product-group .product-item .product-item-content ul li {
    list-style-type: none;
}

.product-group .product-item .product-item-content ul li a{
    padding: 10px 0px;
    padding-left: 10px;
    display: block;
    text-decoration: none;
    border-radius: var(--br-5);
    transition: 0.3s;
}

.product-group .product-item .product-item-content ul li a:hover {
    color: black;
    font-weight: bold;
    background-color: var(--color-secondary-hover1);
}




