@import url(header.css);
@import url(nav.css);
@import url(values.css);

* {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--color-bg-body);
}


.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.width-100 {
  width: 100%;
}

.bg-color-primary {
  background-color: var(--color-primary);
}

.bg-color-secondary {
  background-color: var(--color-secondary);
}

.content-width {
  width: 1080px;
  /* max-width: 1500px; */
}

.box-shadow {
  box-shadow: var(--box-shadow-default);
}

/* screen width < 1000px */
@media (max-width: 1080px) {
  .content-width {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
  }
}