@import url(header.css);
@import url(color.css);

* {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.tag-a {
  text-decoration: none;
}

.colorPrimary {
  background-color: var(--color-primary);
}

.colorSecondary {
  background-color: var(--color-secondary);
}

.content-width {
  width: 70%;
  /* max-width: 1500px; */
  min-width: 600px;
  height: 100%;
}

/* screen width < 1000px */
@media (max-width: 1000px) {
  .content-width {
      width: 100%;
  }
}