@import url(header.css);
@import url(nav.css);
@import url(values.css);

* {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--color-bg-body);
}


.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tag-a {
  text-decoration: none;
}

.width-100 {
  width: 100%;
}

.bg-color-primary {
  background-color: var(--color-primary);
}

.bg-color-secondary {
  background-color: var(--color-secondary);
}

.content-width {
  width: 70%;
  /* max-width: 1500px; */
  min-width: 600px;
}

/* screen width < 1000px */
@media (max-width: 1000px) {
  .content-width {
      width: 100%;
  }
}