:root {
    --color-bg-body: #F9F9F9;
    --color-primary: #001C52;
    --color-primary-hover: #4E5E7E;
    --color-primary-hover1:rgb(194, 205, 225);
    --color-secondary: #C9D100;
    --color-secondary-hover: #CACD77;
    --color-secondary-hover1: #e6e7cc;
    --color-bg-no-upload-image: #DCDCDC;

    /* size */
    --content-width-xl: 1080px;

    /* border radius for pc*/
    --br-5: 5px;
    --br-8: 8px;
    --br-10: 10px;

    /* border radius for mobile */
    --br-mb-5: 3px;

    /* padding */
    --padding-between-content: 10px;

    /* shadow */
    --box-shadow-default: 3px 3px 6px rgba(0, 0, 0, 0.05);
}